.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark{
	background-color: #512DAB
}

.fa {
    padding: 10px;
    border-radius: 3px;
    font-size: 0.9em;
    width: 0px;
    text-align: center;
    text-decoration: none;
    margin: 5px 1px 5px 5px;
    object-fit: cover;
  }