<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="node_modules/bootstrap-social/css/bootstrap-social.css">
	<link rel="stylesheet" href="static/styles.css">
    <link rel="shortcut icon" href="static/img/favicon(1).ico" type="image/x-icon">
	<title>{{params['title']}}: Home</title>
</head>

<body>

    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
	    <div class="container">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
		<a class="navbar-brand mr-auto" href="#"><img src="static/img/favicon-32x32(1).png" height="30" width="41"></a>
		<div class="collapse navbar-collapse" id="Navbar">
		<ul class="navbar-nav mr-auto">
		<li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-home fa-lg"></span> Home</a></li>
		<li class="nav-item"><a class="nav-link" href="about"><span class="fa fa-info fa-lg"></span> About</a></li>
		<li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-list fa-lg"></span> Menu</a></li>
		<li class="nav-item"><a class="nav-link" href="contact"><span class="fa fa-address-card fa-lg"></span> Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="review"><span class="fa fa-list fa-lg"></span> Reviews</a></li>
		</ul>
        <span class="navbar-text">
            <a data-toggle="modal" data-target="#loginModal">
            <span class="fa fa-sign-in"></span> Login</a>
        </span>
		</div>
		</div>
	</nav>
    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Login </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/" method="POST">
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                    <label class="sr-only" for="exampleInputEmail3">Email address</label>
                                    <input type="email" class="form-control form-control-sm mr-1" id="exampleInputEmail3" name="email" placeholder="Enter email">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="sr-only" for="exampleInputPassword3">Password</label>
                                <input type="password" class="form-control form-control-sm mr-1" id="exampleInputPassword3" name="pwd" placeholder="Password">
                            </div>
                            <div class="col-sm-auto">
                                <div class="form-check">
                                    <input class="form-check-input" name="remember" type="checkbox">
                                    <label class="form-check-label"> Remember me
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-sm ml-1">Sign in</button>        
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="reserve" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
				
                    <h4 class="modal-title">Reserve a Table </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
				<form>
                        <div class="form-row">
						    <label for="quantity" class="form-group col-12 col-md-2 col-form-label"><strong>Number of Guests</strong></label>
							<div class="form-group col-12 col-sm-auto">
							
                            <input type="radio" name="quantity" value="1"><strong> 1  </strong>
							
							<input type="radio" name="quantity" value="2"><strong> 2  </strong>
							
                            <input type="radio" name="quantity" value="3"><strong> 3  </strong>
							
                            <input type="radio" name="quantity" value="4"><strong> 4  </strong>
							
							<input type="radio" name="quantity" value="5"><strong> 5  </strong>
							
							
                            <input type="radio" name="quantity" value="6"><strong> 6  </strong>
							</div>
                        </div>
						<div class="form-row">
							<label for="quantity" class="form-group col-12 col-md-2 col-form-label"><strong>Section</strong></label>
							
                            <div class="btn-group col-12 col-sm-auto btn-group-toggle align-items-center" data-toggle="buttons">
                            <label class="btn btn-success active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> Non-Smoking
                            </label>
                            <label class="btn btn-danger">
                                <input type="radio" name="options" id="option2" autocomplete="off"> Smoking
                            </label>
							</div>
							</div>
                            <div class="form-row">
							<label for="datetime" class="form-group col-12 col-md-2 col-form-label"><strong>Date and Time</strong></label>
                        <div class="form-group col-5 col-md-3">
                            <input type="datetime" id="datetime" name="datetime" placeholder="Date">
                        </div>
                        <div class="form-group col-6 col-md-6">
                            <input type="datetime" id="datetime" name="datetime" placeholder="Time">
                        </div>
                        </div>
			            <div class="form-row">
						<div class="btn-group col-12 col-md-3 offset-2" role="group">
						    <a role="button" class="btn btn-secondary" href="#">Cancel</a>
                            
		                </div>
						<div class="btn-group col-12 col-md-3" role="group">
                            <a role="button" class="btn btn-primary" href="#">Reserve</a>
		                </div>
                        </div> 
				</form>
				</div>
			</div>
		</div>
    </div>

    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>{{params['title']}}</h1>
                    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations will tickle your culinary senses!</p>
                </div>

				<div class="col-12 col-sm align-self-center">
                    <img src="static/img/logo.png" class="img-fluid">
                </div>

                <div class="col-12 col-sm-auto align-self-center">
                    <span class="navbar-text">
                        <a data-toggle="modal" data-target="#reserve" class="btn btn-warning"> Reserve Table</a>
                    </span>
                    
                    </div>
            </div>
        </div>
    </header>

    <div class="container">
	    <div class="row row-content">
           <div class="col">
                <div id="mycarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid"
                                src="static/img/uthappizza.png" alt="Uthappizza">
                            <div class="carousel-caption d-none d-md-block">
                                <h2>Uthappizza <span class="badge badge-danger">HOT</span> <span class="badge badge-pill badge-default">$4.99</span></h2>
                                <p class="d-none d-sm-block">A unique combination of Indian Uthappam (pancake) and
                                Italian pizza, topped with Cerignola olives, ripe vine
                                cherry tomatoes, Vidalia onion, Guntur chillies and
                                Buffalo Paneer.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid"
                            src="static/img/buffet.png" alt="Weekend Grand Buffet">
							<div class="carousel-caption d-none d-md-block">
							<h2>Weekend Grand Buffet <span class="badge badge-danger">NEW</span></h2>
                            <p class="d-none d-sm-block">Featuring mouthwatering combinations with a choice of
						    five different salads, six enticing appetizers, six main entrees and five choicest 
						    desserts. Free flowing bubbly and soft drinks. All for just $19.99 per person</p>
							</div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid"
							src="static/img/alberto.png" alt="Alberto Somayya">
							<div class="carousel-caption d-none d-md-block">
							<h2>Alberto Somayya</h2>
                            <h4>Executive Chef</h4>
                            <p class="d-none d-sm-block">Award winning three-star Michelin chef with wide
                            International experience having worked closely with whos-who in the culinary 
							world, he specializes in creating mouthwatering Indo-Italian fusion experiences.</p>
							</div>
                        </div>
                    </div>
				    <ol class="carousel-indicators">
                        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#mycarousel" data-slide-to="1"></li>
                        <li data-target="#mycarousel" data-slide-to="2"></li>
                    </ol>
				    <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
				
                    <button class="btn btn-danger btn-sm" id="carouselButton">
                	    <span class="fa fa-pause"></span>
                    </button>
                </div> 
           </div>
       </div>
	</div>

    <div class="container">

        <div class="row row-content align-items-center">

            <div class="col-12 col-sm-4 order-sm-last col-md-3">
                <h2 class="mt-0">Our Lipsmacking Culinary Creations</h2>
            </div>

            <div class="col col-sm order-sm-first col-md">
                <div class="media">
                            <img class="d-flex mr-3 img-thumbnail align-self-center"
                                    src="static/img/uthappizza.png" alt="Uthappizza">
                            <div class="media-body">
                                <h2 class="mt-0">Uthappizza <span class="badge badge-danger">HOT</span> <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                <p class="d-none d-sm-block">A unique combination of Indian Uthappam (pancake) and
                                    Italian pizza, topped with Cerignola olives, ripe vine
                                    cherry tomatoes, Vidalia onion, Guntur chillies and
                                    Buffalo Paneer.</p>
                            </div>
                </div>
            </div>
            
        </div>

        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-4 order-sm-First col-md-3">
                <h2 class="mt-0">This Month's Promotion</h2>
            </div>
            <div class="col col-sm order-sm-last col-md">
                <div class="media">
                            
                            <div class="media-body">
                                <h2 class="mt-0">Weekend Grand Buffet <span class="badge badge-danger">NEW</span></h2>
                                <p class="d-none d-sm-block">Featuring mouthwatering combinations with a choice of
                                five different salads, six enticing appetizers, six main entrees and five choicest 
                                desserts. Free flowing bubbly and soft drinks. All for just $19.99 per person
                                </p>
                            </div><img class="d-flex mr-3 img-thumbnail align-self-center"
                                    src="static/img/buffet.png" alt="Weekend Grand Buffet">
                </div>
            </div>
        </div>

        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-4 order-sm-last col-md-3">
            <h2 class="mt-0">Meet Our Culinary Specialist</h2>
            </div>
            <div class="col col-sm order-sm-first col-md">
                <div class="media">
                            <img class="d-flex mr-3 img-thumbnail align-self-center"
                                    src="static/img/alberto.png" alt="Alberto Somayya">
                            <div class="media-body">
                                <h2 class="mt-0">Alberto Somayya</h2>
                                <h4>Executive Chef</h4>
                                <p class="d-none d-sm-block">Award winning three-star Michelin chef with wide
                                    International experience having worked closely with whos-who in the culinary 
                                    world, he specializes in creating mouthwatering Indo-Italian fusion experiences.
                                    </p>
                            </div>
                </div>
            </div>
        </div>

        
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#"> Home</a></li>
                        <li><a href="about"> About</a></li>
                        <li><a href="#"> Menu</a></li>
                        <li><a href="contact"> Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
                        148, J.P. Nagar,<br>
                        Fatehabad Road, Agra, UP-282007<br>
                        INDIA<br>
                        <i class="fa fa-phone fa-lg"></i>: +91 9856127775<br>
                        <i class="fa fa-fax fa-lg"></i>: +91 8556767985<br>
                        <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:confusion@food.net">confusion@food.net</a>
                     </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <a class="btn btn-social-icon btn-google" href="{{params['g+_url']}}" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="{{params['fb_url']}}" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="{{params['in_url']}}" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="{{params['tw_url']}}" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-google" href="{{params['yt_url']}}" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a class="btn btn-social-icon" href="{{params['em_url']}}" target="_blank"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2020 {{params['title']}}</p>
                </div>
           </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $("#mycarousel").carousel( { interval: 1000 } );
            $("#carouselButton").click(function(){
                if ($("#carouselButton").children("span").hasClass('fa-pause')) {
                    $("#mycarousel").carousel('pause');
                    $("#carouselButton").children("span").removeClass('fa-pause');
                    $("#carouselButton").children("span").addClass('fa-play');
                }
                else if ($("#carouselButton").children("span").hasClass('fa-play')){
                    $("#mycarousel").carousel('cycle');
                    $("#carouselButton").children("span").removeClass('fa-play');
                    $("#carouselButton").children("span").addClass('fa-pause');                    
                }
            });
        });
    </script>
</body>
</html>