<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="node_modules/bootstrap-social/css/bootstrap-social.css">
	<link rel="stylesheet" href="static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="static/img/favicon(1).ico" type="image/x-icon">
	<title>{{params['title']}}: Reviews</title>
</head>

<body>

    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
	    <div class="container">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
		<a class="navbar-brand" href="/">{{params['title']}}</a>
		<div class="collapse navbar-collapse" id="Navbar">
		<ul class="navbar-nav mr-auto">
		<li class="nav-item"><a class="nav-link" href="/"><span class="fa fa-home fa-lg"></span> Home</a></li>
		<li class="nav-item"><a class="nav-link" href="about"><span class="fa fa-info fa-lg"></span> About</a></li>
		<li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-list fa-lg"></span> Menu</a></li>
		<li class="nav-item"><a class="nav-link" href="contact"><span class="fa fa-address-card fa-lg"></span> Contact</a></li>
        <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-list fa-lg"></span> Reviews</a></li>
		</ul>
		</div>
		</div>
	</nav>

    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>{{params['title']}}</h1>
                    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations will tickle your culinary senses!</p>
                </div>
                <div class="col-12 col-sm">
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Reviews</li>
            </ol>
                <div class="col-12">
                   <h3>Reviews</h3>
                   <hr>
                </div>
        </div>

        
        {% for review in reviews %} 
            {% if review.cid%2 == 0 %}
            <div class="row row-content">
                <div class="col-12 col-sm-8 order-sm-last">
                    <div class="card card-body bg-light">
                        <blockquote class="blockquote">
                            <p class="mb-0 pb-0"><strong>{{review.cfname+" "+review.clname}}</strong></p>
                            <cite class="pt-0"><small><small>{{review.cemail}} &nbsp;&nbsp;&nbsp;{{review.fdate}}</small></small></cite>
                            <footer class="blockquote-footer">
                                <cite title="Source Title">{{review.cfeedback[0:64]}}</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
                <div class="col-12 col-sm-4 order-sm-first">
                    <div class="card">
                        <h3 class="card-header bg-info">Experience (Photos)</h3>
                        <div class="card-body">
                            <dl class="row">
                                <div class="col-12 col-sm align-self-center">
                                    <img src="static/img/logo.png" alt="feedback Photos" class="img-fluid">
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row row-content">
                <div class="col-12 col-sm-8 order-sm-first">
                    <div class="card card-body bg-light">
                        <blockquote class="blockquote">
                            <p class="mb-0 pb-0"><strong>{{review.cfname+" "+review.clname}}</strong></p>
                            <cite class="pt-0"><small><small>{{review.cemail}} &nbsp;&nbsp;&nbsp;{{review.fdate}}</small></small></cite>
                            <footer class="blockquote-footer">
                                <cite title="Source Title">{{review.cfeedback[0:64]}}</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
                <div class="col-12 col-sm-4 order-sm-last">
                    <div class="card">
                        <h3 class="card-header bg-info">Experience (Photos)</h3>
                        <div class="card-body">
                            <dl class="row">
                                <div class="col-12 col-sm align-self-center">
                                    <img src="static/img/logo.png" alt="feedback Photos" class="img-fluid">
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <hr>
        {% endfor %}

    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="/"><span class="fa fa-home fa-lg"></span> Home</a></li>
                        <li><a href="#"><span class="fa fa-info fa-lg"></span> About</a></li>
                        <li><a href="#"><span class="fa fa-list fa-lg"></span> Menu</a></li>
                        <li><a href="contact"><span class="fa fa-address-card fa-lg"></span> Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
                      148, J.P. Nagar,<br>
		              Fatehabad Road, Agra, UP-282007<br>
		              INDIA<br>
		              <i class="fa fa-phone fa-lg"></i>: +91 9856127775<br>
		              <i class="fa fa-fax fa-lg"></i>: +91 8556767985<br>
		              <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:confusion@food.net">confusion@food.net</a>
		           </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <a class="btn btn-social-icon btn-google" href="{{params['g+_url']}}" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="{{params['fb_url']}}" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="{{params['in_url']}}" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="{{params['tw_url']}}" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-google" href="{{params['yt_url']}}" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a class="btn btn-social-icon" href="{{params['em_url']}}" target="_blank"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2020 {{params['title']}}</p>
                </div>
            </div>           
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>